* {
  margin: 0;
  padding: 0;
  color: #000;
  font-style: normal;
  -webkit-tap-highlight-color: transparent; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

*::selection {
  background: #F7766E; }

html, body {
  width: 100%;
  height: 100%; }

section {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  float: left;
  flex-flow: wrap;
  align-items: center; }

.progress {
  width: 20%; }

img {
  width: 200px;
  height: 100%; }

.contain {
  margin-top: 15px;
  height: 18px;
  width: 200px; }
  .contain input {
    width: 160px; }
  .contain p {
    width: 80%;
    margin: 0 auto; }

button {
  width: 40%;
  height: 40px; }
