* {
  margin: 0;
  padding: 0;
  color: #000;
  font-style: normal;
  -webkit-tap-highlight-color: transparent; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

*::selection {
  background: #F7766E; }

html, body, #elias {
  width: 100%;
  height: 100%; }

.left {
  width: 70%;
  float: left;
  background: url("/resource/images/login/Liverpool.jpg");
  height: 100%;
  opacity: 0.8;
  position: relative; }
  .left p {
    font-size: 128px;
    color: #FFFFFF;
    position: absolute;
    left: 130px;
    bottom: 83px;
    opacity: 1; }

.right {
  width: 30%;
  background-color: #FFFFFF;
  float: right;
  position: relative;
  height: 100%; }
  .right .corner {
    position: absolute;
    bottom: 0; }
    .right .corner img {
      width: 100%;
      height: auto;
      display: block; }
  .right .login {
    margin: 100px 50px; }
    .right .login p {
      margin: 35px auto;
      width: 239px; }
      .right .login p input {
        border: none;
        height: 25px;
        border-bottom: 2px solid #969696;
        width: 100%;
        font-size: 16px;
        color: #969696;
        text-align: center; }
        .right .login p input:focus {
          outline: none; }
        .right .login p input::-webkit-input-placeholder {
          text-align: center;
          font-size: 16px;
          vertical-align: middle; }
    .right .login .title {
      display: block;
      text-align: center;
      font-size: 28px;
      color: #969696;
      font-weight: bold;
      font-family: Georgia; }
    .right .login #submit {
      width: 177px;
      margin: 0 auto;
      display: block;
      height: 30px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      color: #969696;
      cursor: pointer;
      outline: none; }
