{% extends "../common/global.html" %}

{% block head %}
<link rel="stylesheet" href="/resource/css/face/face.css">
{% endblock%}

{% block body %}
    <section class="input">
        <div class="child">
            <img :src="inputUrl" alt="上传图片" title="上传图片"/>
            <p class="contain">
                <input type="file" value="上传图片" @change="uploadFile"/>
            </p>
        </div>
    </section>

    <section class="progress">
        <button @click.once="identify">{btnText}</button>
    </section>

    <section class="output">
        <div class="child">
            <img :src="ouputUrl" alt="解析图片" title="解析图片"/>
            <p class="contain"></p>
        </div>
    </section>
{% endblock %}

{% block bottom %}
<script src="/resource/js/face/face.js?v2" type="application/javascript"></script>
{% endblock %}
