{% extends "../common/global.html" %}

{% block head %}
    <link rel="stylesheet" href="/resource/css/login/login.css" type="text/css"></link>
{% endblock %}

{% block body %}
  <section class="left">
    <p>Liverpool</p>
  </section>
  <section class="right">
    <div class="login">
      <span class="title">Login</span>
      <form action="" method="post">
          <p><input type="text" name="Username" value="" placeholder="Username"/></p>
          <p><input type="password" name="Password" value="" placeholder="Password"/></p>
          <input id="submit" type="submit" name="" value="Sign in"></input>
      </form>
    </div>
    <div class="corner"><img src="/resource/images/login/corner.jpg" alt="corner"></div>
  </section>
{% endblock %}
{% block bottom %}
  <script type="text/javascript" src="/resource/js/login/login.js"></script>
{% endblock %}
