<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/resource/css/login/login.css" type="text/css">
</head>
<body>
  <section class="left">
    <p>Liverpool</p>
  </section>
  <section class="right">
    <div class="login">
      <span class="title">Login</span>
      <form action="">
          <p><span>Username</span><input type="text" name="" value="" /></p>
          <p><span>Password</span><input type="text" name="" value="" /></p>
          <input id="submit" type="submit" name="" value="Sign in"/>
      </form>
    </div>
    <div class="corner"><img src="/resource/images/login/corner.jpg" alt="corner"></div>
  </section>
</body>
</html>
