{% extends "../common/global.html" %}

{% block head %}
    <link rel="stylesheet" href="/resource/css/login/login.css" type="text/css"></link>
{% endblock %}

{% block body %}
  <section class="left">
    <p>Liverpool</p>
  </section>
  <section class="right">
    <div class="login">
      <span class="title">Login</span>
      <p><input id="user" type="text" name="Username" placeholder="Username"/></p>
      <p><input id="pwd" type="password" name="Password" placeholder="Password"/></p>
      <input id="submit" type="submit" value="Sign in"/>
      <input type="hidden" name="referer" id="referer"/>
    </div>
    <!--<div class="corner"><img src="/resource/images/login/corner.jpg" alt="corner"></div>-->
  </section>
{% endblock %}
{% block bottom %}
  <script type="text/javascript" src="/resource/js/login/login.js?v1"></script>
{% endblock %}
